<style>
  a {
    color: #0075db;
  }
  a:hover {
    color: #1c7c8d !important;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #ffc700;
    border-color: #ffc700;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #3e98a1;
    border-color: #3e98a1;
  }

  input.form-control:focus,
  select:focus,
  div.payment-input:focus {
    border-color: #0086ff !important;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:focus {
    color: #fff;
    border-color: #0086ff;
    background-color: #0086ff;
  }

  #logo-image-empty-homes-tax {
    margin-bottom: 48px;
  }

  .rapid-header {
    min-height: 240px !important;
  }

  .my-5 {
    margin-top: 0 !important;
  }

  nav.custom-header {
    position: relative;
    background-color: #0075db;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }

  nav.custom-header a {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fefefe;
    letter-spacing: 1px;
    word-spacing: -3px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  }
  nav.custom-header a:hover {
    color: #ffc700 !important;
  }

  @media only screen and (max-width: 768px) {
    nav.custom-header a {
      font-size: 1rem;
      font-weight: 800;
    }
  }

  footer.rapid-footer p:nth-child(2) {
    margin-bottom: 0;
  }

  footer.rapid-footer p:first-of-type a:first-of-type {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
  }

  footer.rapid-footer p:nth-child(2) a:first-of-type {
    font-size: 1rem;
    color: #0067c2;
    text-decoration: underline;
  }

  footer.rapid-footer nav {
    max-width: 100%;
  }

  footer.rapid-footer nav a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #0075db;
    letter-spacing: 1px;
    text-decoration: none;
  }

  footer.rapid-footer p {
    font-size: 1rem;
    color: #000000;
  }
</style>

{% capture page_headline %}{{ page.headline }}{% endcapture %} {% capture
page_content %}

<nav class="row custom-header">
  <a href="/">Join</a>
  <a href="/faq">FAQ</a>
  <a href="/endorsements">Supporters</a>
  <a
    href="https://dsasf-62612.web.app/empty-homes-tax/Casas-Vacias-Hoja-de-Hechos.pdf"
    target="_blank"
    >Hoja de Hechos ➚</a
  >
</nav>

<img
  id="logo-image-empty-homes-tax"
  src="https://dsasf-62612.web.app/empty-homes-tax/banner-title.png"
  width="100%"
/>
{% if page.calendar.content.size > 0 %}
<div id="intro" class="intro">
  {{ page.calendar.content }}
</div>
{% endif %} {% if page.calendar.is_proximity? %}
<div class="mb-4">
  <div class="card">
    <h4 class="card-header">
      Find {{ page.calendar.event_name | pluralize | downcase }} near you
    </h4>
    <div class="card-body">
      {% form_for address_change %}
      <div class="form-wrap">
        <div class="form">
          <div class="form-group">
            {% text_field "submitted_address", class:"form-control text",
            placeholder:"Address or postal code" %}
          </div>

          <div class="form-group distance">
            <span class="mr-2 within">within</span>
            <span class="radio-inline"
              >{{ page.calendar.distance_radio_buttons }}</span
            >
          </div>

          <div>
            {% submit_tag "Search", class:"btn btn-primary submit-button" %} {%
            if page.calendar.allow_user_submitted? %} or
            <a href="{{ page.calendar.new_event_url }}">Host your own</a>
            {% endif %}
            <div class="form-submit" role="alert" aria-live="assertive"></div>
          </div>

          {% if page.calendar.events_upcoming_nearby_count > 0 %} {% if
          page.calendar.events_upcoming_nearby_count > 1 %}
          <div class="my-2">
            <strong
              >Found {{ page.calendar.events_upcoming_nearby_count }} {{
              page.calendar.event_name | pluralize | downcase }}.</strong
            >
          </div>
          {% endif %}
          <div class="my-2 map-wrap">
            <div class="map">
              {{ page.calendar.events_upcoming_nearby_map }}
            </div>
          </div>
          {% else %}
          <div class="my-2">
            <strong
              >No {{ page.calendar.event_name | pluralize | downcase }} found
              nearby,</strong
            >
            try widening your search {% if page.calendar.allow_user_submitted?
            %} or maybe
            <a href="{{ page.calendar.new_event_url }}">host your own</a>? {%
            endif %}
          </div>
          {% if page.calendar.events_upcoming.size > 0 %}
          <div class="my-2 map-wrap">
            <div class="mb-2 showing-all">
              Showing all {{ page.calendar.events_upcoming_count }} {{
              page.calendar.event_name | pluralize | downcase }} instead.
            </div>
            {{ page.calendar.events_upcoming_map }}
          </div>
          {% endif %} {% endif %}
        </div>
      </div>
      {% endform_for %}
    </div>
  </div>
</div>

{% if page.calendar.events_upcoming_nearby.size > 0 %}
<ul class="list-unstyled mb-4">
  {% for event in page.calendar.events_upcoming_nearby %}
  <li
    class="{% unless forloop.last == true %}mb-4 pb-4 border-bottom{% endunless %}"
  >
    {% include "event" %}
  </li>
  {% endfor %}
</ul>

{{ page.calendar.events_upcoming_nearby | paginate prev_label: "Previous"
next_label: "Next" }} {% else %}

<ul class="list-unstyled mb-4">
  {% for event in page.calendar.events_upcoming %}
  <li
    class="{% unless forloop.last == true %}mb-4 pb-4 border-bottom{% endunless %}"
  >
    {% include "event" %}
  </li>
  {% endfor %}
</ul>

{{ page.calendar.events_upcoming | paginate prev_label: "Previous" next_label:
"Next" }} {% endif %} {% else %} {% if page.calendar.show_map? %} {% if
page.calendar.events_upcoming_count > 0 %}

<div class="mb-4">
  <div class="form-wrap">
    <div class="form">
      <div class="map-wrap">
        {{ page.calendar.events_upcoming_map }}
      </div>
    </div>
  </div>
</div>

{% endif %} {% endif %} {% if page.calendar.events_upcoming_count == 0 %} No {{
page.calendar.event_name | pluralize | downcase }} yet. {% if
page.calendar.allow_user_submitted? %} You should
<a href="{{ page.calendar.new_event_url }}">host your own</a>! {% endif %} {%
else %}

<ul class="list-unstyled mb-4">
  {% for event in page.calendar.events_upcoming %}
  <li
    class="{% unless forloop.last == true %}mb-4 pb-4 border-bottom{% endunless %}"
  >
    {% include "event" %}
  </li>
  {% endfor %}
</ul>

{% if page.calendar.allow_user_submitted? %}
<div class="mt-4 pt-4 border-top">
  <a class="btn btn-secondary" href="{{ page.calendar.new_event_url }}"
    >Host your own {{ page.calendar.event_name | downcase }}</a
  >
</div>
{% endif %} {{ page.calendar.events_upcoming | paginate prev_label: "&laquo;"
next_label: "&raquo;" }} {% endif %} {% endif %} {% endcapture %} {% include
"content", sidebar: request.is_sidebar? %}
