<style>
  a {
    color: #2b3990;
  }

  a:hover {
    color: #9a8abb !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .form-errors .errorExplanation h2,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #2b3990;
    border-color: #2b3990;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #9a8abb;
    border-color: #9a8abb;
  }

  .header-image {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .nav-item-login {
    display: none;
  }

  .navbar-nav-primary {
    margin-right: 12px;
  }

  .nav-link {
    margin-right: 36px;
  }

  .secondary-content {
    margin-top: 64px;
  }

  .graphic-content {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .card {
    padding: 24px;
    margin-bottom: 48px;
  }

  .card-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  #custom-checkbox {
    display: none;
  }

  .title-block {
    text-align: center;
    margin-bottom: 24px;
  }

  .title-yes {
    font-weight: 900;
  }

  .title-for {
    margin-top: -16px;
    font-weight: 900;
  }

  .title-nov {
    margin-top: 12px;
    color: #666;
  }

  .title-cons {
    margin-top: 6px;
    color: #666;
  }

  .custom-control {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .header-image {
      margin-top: 0;
      margin-bottom: 6px;
      margin-right: auto;
      margin-left: auto;
    }
    .title-for {
      margin-top: -8px;
      line-height: 1;
    }
    .card-row {
      flex-direction: column;
    }
  }
  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }
</style>
<div class="page">
  <div class="">
    <div class="col-lg-10">
      <div style="margin: auto; margin-bottom: 48px;">
        <img
          id="logo-image-empty-homes-tax"
          src="https://dsasf-62612.web.app/empty-homes-tax/banner-title.png"
          width="100%"
          alt="Fill Empty Homes. YES! on the Vacant Homes Tax"
        />
      </div>
    </div>
    {% include "breadcrumbs" %}
    <div class="row mb-4">
      <div class="col">
        {% if page.headline.size > 0 %}
        <h2 class="mb-3">{{ page.headline }}</h2>
        {% endif %}
      </div>
      <div class="col-auto">
        {% if page.calendar.allow_user_submitted? %}
        <a href="{{ page.calendar.new_event_url }}" class="btn btn-primary">
          {% if page.calendar.event_name == "" %} {{ t_events_user_events_cta }}
          {% else %} {% capture custom_event_name %}{{ page.calendar.event_name
          | downcase }}{% endcapture %} {{ t_events_user_events_cta_custom |
          replace: '$event', custom_event_name }} {% endif %}
        </a>
        {% endif %}
      </div>
    </div>

    {% if page.calendar.content.size > 0 %}
    <div id="intro" class="intro">
      {{ page.calendar.content }}
    </div>
    {% endif %} {% if page.calendar.is_proximity? %}
    <div class="mb-4">
      <div class="card">
        <div class="row no-gutters align-items-center proximity-filter">
          {% if page.calendar.show_map? %}
          <div class="col-lg-6 map-wrap align-self-stretch order-1 order-lg-0">
            {% if page.calendar.events_upcoming_nearby_count > 0 %} {% include
            "map" markers:page.calendar.events_upcoming_nearby_map_json %} {%
            else %} {% include "map"
            markers:page.calendar.events_upcoming_map_json %} {% endif %}
          </div>
          {% endif %}
          <div
            class="{% if page.calendar.show_map? %}col-lg-6{% else %}col-12{% endif %} order-0 order-lg-1"
          >
            {% form_for address_change %}
            <div class="form">
              <div class="card-body py-lg-5">
                <h3 class="h5 mb-4 text-sans-serif font-weight-semi-bold">
                  {{ t_events_find_events_nearby }}
                </h3>

                <div class="form-group distance">
                  <span class="radio-inline form-amount-options size-all">
                    {{ page.calendar.distance_radio_buttons | replace: 'mile',
                    t_event_distance_singlular | replace: 'miles',
                    t_event_distance_plural }}
                  </span>
                </div>

                <div class="form-group">
                  <div class="float-label">
                    <label for="address_change_submitted_address"
                      >{{ t_events_address_or_postal_code}}</label
                    >
                    {% text_field "submitted_address", class:"form-control
                    form-control-sm text",
                    placeholder:t_events_address_or_postal_code %}
                  </div>
                </div>

                <div class="form-group mb-0">
                  {% include "form_submit_tag" label: t_events_search %}{% if
                  page.calendar.events_upcoming_nearby_count > 0 %} {%
                  submit_tag t_forms_clear_search, class:"btn btn-secondary
                  submit-button ml-2" %}{% endif %}
                </div>
              </div>

              <div class="card-footer">
                <small>
                  {% if page.calendar.events_upcoming_nearby_count > 0 %}
                  <strong>{{ t_events_showing_count_nearby }}</strong>
                  {% else %} {{ t_events_no_events_nearby }} {% endif %}
                </small>
              </div>
            </div>
            {% endform_for %}
          </div>
        </div>
      </div>
    </div>

    {% if page.calendar.events_upcoming_nearby.size > 0 %}
    <ul class="list-unstyled mb-4">
      {% for event in page.calendar.events_upcoming_nearby %}
      <li class="{% unless forloop.last == true %}mb-4{% endunless %}">
        {% include "event" %}
      </li>
      {% endfor %}
    </ul>

    {{ page.calendar.events_upcoming_nearby | paginate prev_label: t_prev
    next_label: t_next }} {% else %}

    <ul class="list-unstyled mb-4">
      {% for event in page.calendar.events_upcoming %}
      <li class="{% unless forloop.last == true %}mb-4{% endunless %}">
        {% include "event" %}
      </li>
      {% endfor %}
    </ul>

    {{ page.calendar.events_upcoming | paginate prev_label: t_prev next_label:
    t_next }} {% endif %} {% else %} {% if page.calendar.show_map? %} {% if
    page.calendar.events_upcoming_count > 0 %}

    <div class="mb-4">
      <div class="form-wrap">
        <div class="form">
          <div class="map-wrap rounded" style="height: 340px;">
            {% include "map" markers:page.calendar.events_upcoming_map_json %}
          </div>
        </div>
      </div>
    </div>

    {% endif %} {% endif %} {% if page.calendar.events_upcoming_count == 0 %} {{
    t_events_no_events_found }} {% else %}

    <ul class="list-unstyled mb-0 space-y-4">
      {% for event in page.calendar.events_upcoming %}
      <li>
        {% include "event" %}
      </li>
      {% endfor %}
    </ul>

    {{ page.calendar.events_upcoming | paginate prev_label: t_prev next_label:
    t_next }} {% endif %} {% endif %}
  </div>
</div>
