<style>
  a {
    color: #2b3990;
  }

  a:hover {
    color: #9a8abb !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .form-errors .errorExplanation h2,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  }

  h2 {
    color: #2b3990;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #2b3990;
    border-color: #2b3990;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #9a8abb;
    border-color: #9a8abb;
  }

  .header-image {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .nav-item-login {
    display: none;
  }

  .navbar-nav-primary {
    margin-right: 12px;
  }

  .nav-link {
    margin-right: 36px;
  }

  .secondary-content {
    margin-top: 64px;
  }

  .graphic-content {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .card {
    padding: 24px;
    margin-bottom: 48px;
  }

  .card-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  #custom-checkbox {
    display: none;
  }

  .title-block {
    text-align: center;
    margin-bottom: 24px;
  }

  .title-text {
    font-weight: 900;
  }

  .title-for {
    margin-top: -16px;
    font-weight: 900;
  }

  .title-nov {
    margin-top: 12px;
    color: #666;
  }

  .title-cons {
    margin-top: 6px;
    color: #666;
  }

  .custom-control {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .header-image {
      margin-top: 0;
      margin-bottom: 6px;
      margin-right: auto;
      margin-left: auto;
    }
    .title-for {
      margin-top: -8px;
      line-height: 1;
    }
    .card-row {
      flex-direction: column;
    }
  }
  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }
</style>

<div class="page">
  {% include "breadcrumbs" %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div style="margin: auto; margin-bottom: 36px;">
        <img
          id="logo-image-empty-homes-tax"
          src="https://dsasf-62612.web.app/empty-homes-tax/banner-title.png"
          width="100%"
          alt="Fill Empty Homes. YES! on the Vacant Homes Tax"
        />
      </div>
      <strong
        ><h1 class="title-text">
          Endorsements
        </h1></strong
      >
      <div class="card">
        <div class="card-row" style="justify-content: center;">
          <a
            href="https://dsasf.org/"
            target="_blank"
            style="margin-right: 64px;"
          >
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/dsa-sf-word-logo.png"
              alt="Democratic Socialists of America San Francisco"
              width="250px"
              height="auto"
            />
          </a>
          <a href="https://faithinactionba.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/faith-action.png"
              alt="Faith in Action Bay Area"
              width="250px"
              height="auto"
            />
          </a>
        </div>
        <div class="card-row">
          <a href="https://sflaborcouncil.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sflc.png"
              alt="San Francisco Labor Council"
              width="275px"
              height="auto"
            />
          </a>
          <a
            href="https://www.sfdemocrats.org/our-party/the-dccc"
            target="_blank"
          >
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sf-dem-party.png"
              alt="San Francisco Democratic Party"
              width="250px"
              height="auto"
            />
          </a>
          <a href="https://www.sfccho.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/ccho.png"
              alt="CCHO Council of Community Housing Organizations"
              width="160px"
              height="auto"
            />
          </a>
        </div>
        <div class="card-row">
          <a
            href="https://www.ilwu.org/contact/district-councils/"
            target="_blank"
          >
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/ilwu.png"
              alt="ILWU NCDC"
              width="275px"
              height="auto"
            />
          </a>
          <a href="https://www.seiu1021.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/seiu1021.png"
              alt="SEIU 1021"
              width="250px"
              height="auto"
            />
          </a>
          <a href="https://www.seiu2015.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/seiu-2015.png"
              alt="SEIU 2015"
              width="275px"
              height="auto"
            />
          </a>
        </div>
        <div class="card-row">
          <a href="https://www.milkclub.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-milk.png"
              alt="Harvey Milk LGBTQ Democratic Club"
              width="275px"
              height="auto"
            />
          </a>
          <a href="https://sfwpc.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sfwpc.png"
              alt="San Francisco Women’s Political Committee"
              width="275px"
              height="auto"
            />
          </a>
          <a href="https://www.sierraclub.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sierra-club.png"
              alt="Sierra Club"
              width="250px"
              height="auto"
            />
          </a>
        </div>
        <div class="card-row">
          <a href="https://caasf.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/caa.svg"
              alt="Chinese for Affirmative Action"
              width="275px"
              height="auto"
            />
          </a>
          <a href="https://www.sflatinodemocrats.com/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/sf_democratic_club.jpg"
              alt="San Francisco Latinx Democratic Club"
              width="275px"
              height="auto"
            />
          </a>
          <a href="https://sftu.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/tenants-union.jpeg"
              alt="Tenants Union"
              width="245px"
              height="auto"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-11">
      {{ page.basic.content }}
    </div>
    {% include "page_tags" with page %} {% if page.is_homepage? == true and
    site.page_tags contains "homepage" %} {% tag "homepage" with
    "homepage_widget" %} {% endif %} {% if page.show_stream? %} {% include
    "page_stream" %} {% endif %}
  </div>
</div>
