<style>
  a {
    color: #0075db;
  }
  h3,
  a:hover {
    color: #1c7c8d !important;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #ffc700;
    border-color: #ffc700;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff;
    background-color: #3e98a1;
    border-color: #3e98a1;
  }

  input.form-control:focus,
  select:focus,
  div.payment-input:focus {
    border-color: #0086ff !important;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:focus {
    color: #fff;
    border-color: #0086ff;
    background-color: #0086ff;
  }

  #logo-image-empty-homes-tax {
    margin-bottom: 48px;
    margin-left: auto:
    margin-right: auto;
  }

  #logo-image-empty-homes-tax-donate {
    margin-top: 64px;
    margin-bottom: 48px;
    margin-left: auto:
    margin-right: auto;
  }

  .rapid-header {
    min-height: 240px !important;
  }

  .my-5 {
    margin-top: 0 !important;
  }

  nav.custom-header {
    position: relative;
    background-color: #0075db;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }

  nav.custom-header a {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fefefe;
    letter-spacing: 1px;
    word-spacing: -3px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  }
  nav.custom-header a:hover {
    color: #ffc700 !important;
  }

  @media only screen and (max-width: 768px) {
    nav.custom-header a {
      font-size: 1rem;
      font-weight: 800;
    }
  }

  div.question-list {
    display: none;
  }

  footer.rapid-footer p:nth-child(2) {
    margin-bottom: 0;
  }

  footer.rapid-footer p:first-of-type a:first-of-type {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
  }

  footer.rapid-footer p:nth-child(2) a:first-of-type {
    font-size: 1rem;
    color: #0067c2;
    text-decoration: underline;
  }

  footer.rapid-footer nav {
    max-width: 100%;
  }

  footer.rapid-footer nav a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #0075db;
    letter-spacing: 1px;
    text-decoration: none;
  }

  footer.rapid-footer p {
    font-size: 1rem;
    color: #000000;
  }
</style>

{% capture page_headline %}{{ page.headline }}{% endcapture %} {% capture
page_content %}

<nav class="row custom-header">
  <a href="/calendar">Calendar</a>
  <a href="/endorsements">Supporters</a>
  <a
    href="https://dsasf-62612.web.app/empty-homes-tax/Casas-Vacias-Hoja-de-Hechos.pdf"
    target="_blank"
    >Hoja de Hechos ➚</a
  >
</nav>
<img
  id="logo-image-empty-homes-tax"
  src="https://dsasf-62612.web.app/empty-homes-tax/banner-title.png"
  width="100%"
/>

<div class="row flex-row-reverse">
  <div class="col-md-4">
    <div class="box">
      <div class="question-list btn-group-vertical w-100">
        {% for child in page.children %} {% if child.type_name == 'Question' %}
        <h3>{{ child.headline }}</h3>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-8 pt-4 pt-md-0">
    <ul class="list-unstyled mb-4 faq faq-{{ page.id }}">
      {% for child in page.children %}
      <li
        class="{% unless forloop.last == true %}mb-4{% endunless %} page-excerpt question-page-{{ child.id }}"
      >
        {% if child.type_name == 'Question' %}
        <h3>{{ child.headline }}</h3>

        <div class="excerpt">
          {% if child.question.content.size > 0 %} {{ child.question.content }}
          {% endif %} {% if child.question.answer.size > 0 %}
          <div class="card">
            <div class="card-body">
              {{ child.question.answer }}
            </div>
          </div>
          {% endif %}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <a href="https://www.fillemptyhomes.com/donate">
      <img
        id="logo-image-empty-homes-tax-donate"
        src="https://dsasf-62612.web.app/empty-homes-tax/banner-donate.png"
        width="100%"
      />
    </a>
  </div>

  {% if page.tags_count > 0 %}
  <div class="mt-4">
    {% include "page_tags" with page %}
  </div>
  {% endif %} {% if page.show_stream? %}
  <div class="mt-4">
    {% include "page_stream" %}
  </div>
  {% endif %}
</div>

{% endcapture %} {% include "content", sidebar: request.is_sidebar? %}
