<style>
  a {
    color: #2b3990;
  }

  a:hover {
    color: #9a8abb !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .form-errors .errorExplanation h2,
  .page-headline,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: bolder;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  }

  h4 {
    color: #2b3990;
  }

  .card {
    padding: 24px;
    margin: 24px 0 64px 0;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #2b3990;
    border-color: #2b3990;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #9a8abb;
    border-color: #9a8abb;
  }

  .page-content {
    padding: 48px 24px;
  }

  .title-text {
    font-weight: 900;
    margin-bottom: 6px;
  }

  .image-subtext {
    font-size: 14px;
    margin-top: 12px;
    color: #666;
  }

  .header-image {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .nav-item-login {
    display: none;
  }

  .navbar-nav-primary {
    margin-right: 12px;
  }

  .nav-link {
    margin-right: 36px;
  }

  .secondary-content {
    margin-top: 64px;
  }

  .graphic-content {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  #custom-checkbox {
    display: none;
  }

  .title-block {
    text-align: center;
    margin-bottom: 24px;
  }

  .title-yes {
    font-weight: 900;
  }

  .title-for {
    margin-top: -16px;
    font-weight: 900;
  }

  .title-nov {
    margin-top: 12px;
    color: #666;
  }

  .title-cons {
    margin-top: 6px;
    color: #666;
  }

  .custom-control {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .header-image {
      margin-top: 0;
      margin-bottom: 6px;
      margin-right: auto;
      margin-left: auto;
    }
    .title-for {
      margin-top: -8px;
      line-height: 1;
    }
    .page-content {
      padding: 48px 0;
    }
  }
  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }
</style>

<div class="page">
  {% include "breadcrumbs" %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div style="margin: auto; margin-bottom: 36px;">
        <img
          id="logo-image-empty-homes-tax"
          src="https://dsasf-62612.web.app/empty-homes-tax/banner-title.png"
          width="100%"
          alt="Fill Empty Homes. YES! on the Vacant Homes Tax"
        />
      </div>
      <h1 style="margin-bottom: 48px;">Frequently Asked Questions</h1>
    </div>
    <div class="col-lg-9">
      <h4>
        <strong>Why an Empty Homes Tax?</strong>
      </h4>
      <div class="card">
        <p>
          More than 40,000 homes — nearly 1 in 10 residential units — are vacant
          in San Francisco, a city with a long-standing housing affordability
          crisis, where 10,000 people are living on the streets. Since 2015, the
          rate of vacant residential housing has increased by 20%, according to
          a January 2022 BLA report.
        </p>
        <p>
          The fastest growing category of vacant units is units purchased but
          never occupied, including investor-owned properties.
        </p>
        <p>
          The Empty Homes Tax will tax owners of buildings of three units or
          more, where a residential unit has been vacant for more than six
          months in a given year. The tax rate is higher for larger units, and
          it increases the longer a home is kept vacant.
        </p>
        <p>
          The Empty Homes Tax is modeled after a residential vacancy tax passed
          in Vancouver in 2016, which is credited with bringing more than 18,000
          units online since it went into effect. If San Francisco were to adopt
          a tax based on the Vancouver model, the city is estimated to see an
          activation of around 4,500 units within two years. In addition, the
          tax is projected to raise $38 million annually.
        </p>
      </div>

      <h4>
        <strong>Where will the funds from the tax go?</strong>
      </h4>
      <div class="card">
        <p>
          Revenue from the measure is dedicated to homelessness prevention and
          the acquisition of vacant units.
        </p>
        <p>
          Half of the funds will be allocated to rental subsidies for seniors
          and low-income families, a key strategy in preventing homelessness.
        </p>
        <p>
          The other half will be dedicated to a new program for the city to
          acquire and rehabilitate vacant buildings, and convert them into
          permanently affordable housing.
        </p>
      </div>

      <h4>
        <strong
          >Why does the proposed measure carve out single family homes and
          duplexes?</strong
        >
      </h4>
      <div class="card">
        <p>
          The primary purpose of the Empty Homes Tax is to address the practice
          of speculators and institutional investors using housing in San
          Francisco as mere vehicles for maximizing profits, rather than places
          where people can live. They do this by buying properties, holding them
          vacant, and eventually re-selling.
        </p>
        <p>
          In many cities in California, we have seen institutional investors
          target and buy up large numbers of single family homes — but that
          really hasn’t been the case here.
        </p>
        <p>
          In San Francisco, the phenomenon of investors/speculators buying and
          holding units off the market has almost exclusively occurred in
          larger, multi-unit properties.
        </p>
        <p>
          This measure seeks to incentivize those investors to get their units
          online, or pay their fair share, and not to create an overly-broad
          measure — hence the limit that the tax only applies to buildings of
          three-units or more.
        </p>
      </div>

      <h4>
        <strong>How will the measure be enforced?</strong>
      </h4>
      <div class="card">
        <p>
          Under the proposal, owners of property in San Francisco would be
          required to file annually regarding residential vacancies, and declare
          that their units were either occupied for more than six months in a
          given year, or that they qualify for one of the exemptions.
        </p>
        <p>
          The Treasurer and Tax Collector will be in charge of auditing and
          enforcing the measure, and ensuring that bad actors are held to
          account.
        </p>
        <p>
          The Rental Registry, which is being phased in over the next two years,
          will assist the city in tracking vacant rental units.
        </p>
      </div>

      {% include "page_tags" with page %}
    </div>
  </div>
</div>
