<style>
  a {
    color: #0075db;
  }
  a:hover {
    color: #1c7c8d !important;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #ffc700;
    border-color: #ffc700;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #3e98a1;
    border-color: #3e98a1;
  }

  div.form {
    background-color: #0075db;
  }

  div.form p {
    color: #ffffff;
  }

  div.form label {
    color: #ededed !important;
  }

  input.form-control:focus,
  select:focus,
  div.payment-input:focus {
    border-color: #ffc700 !important;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:focus {
    color: #fff;
    border-color: #ffc700;
    background-color: #ffc700;
  }

  .intro h3 {
    color: #1c7c8d;
  }

  .intro p {
    color: #24585b;
  }

  #logo-image-empty-homes-tax {
    margin-top: -3rem;
    margin-bottom: 24px;
  }

  #donate-image-empty-homes-tax {
    margin-top: 48px;
    margin-bottom: 24px;
  }

  nav.custom-header {
    position: relative;
    background-color: #0075db;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    border-radius: 0.3rem;
    padding: 3px;
  }

  nav.custom-header a {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fefefe;
    letter-spacing: 1px;
    word-spacing: -3px;
    text-decoration: none;
    margin: 6px auto;
  }
  nav.custom-header a:hover {
    color: #ffc700 !important;
  }

  @media only screen and (max-width: 768px) {
    nav.custom-header a {
      font-size: 1rem;
      font-weight: 800;
    }
    #desktop-header {
      display: none;
    }
    .rapid-header {
      min-height: 240px !important;
    }
    .my-5 {
      margin-top: 0 !important;
    }
    #logo-image-empty-homes-tax {
      margin-top: 6px;
      margin-bottom: 24px;
    }
    nav.custom-header {
      border-radius: 0;
    }
  }
  @media only screen and (min-width: 769px) {
    #mobile-header {
      display: none;
    }
  }

  footer.rapid-footer p:nth-child(2) {
    margin-bottom: 0;
  }

  footer.rapid-footer p:first-of-type a:first-of-type {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
  }

  footer.rapid-footer p:nth-child(2) a:first-of-type {
    font-size: 1rem;
    color: #0067c2;
    text-decoration: underline;
  }

  footer.rapid-footer nav {
    max-width: 100%;
  }

  footer.rapid-footer nav a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #0075db;
    letter-spacing: 1px;
    text-decoration: none;
  }

  footer.rapid-footer p {
    font-size: 1rem;
    color: #000000;
  }
</style>

{% capture vars %} {% assign tags_list = "" %} {% for tag in page.tags %} {%
capture tags_list %}{{ tags_list }}{% unless forloop.first %},{% endunless%}{{
tag.slug }}{% endcapture %} {% endfor %} {% assign tags_list = tags_list |
split: "," %} {% endcapture %} {% capture page_headline %}{{ page.headline }}{%
endcapture %} {% capture page_content %}
<div class="row">
  <div class="col-lg-6">
    {% if page.signup.content.size > 0 %}
    <div id="intro" class="intro rapid-content mb-5">
      <div id="mobile-header">
        <nav class="row custom-header">
          <a href="/calendar">Calendar</a>
          <a href="/faq">FAQ</a>
          <a
            href="https://dsasf-62612.web.app/empty-homes-tax/Casas-Vacias-Hoja-de-Hechos.pdf"
            target="_blank"
            >Hoja de Hechos ➚</a
          >
        </nav>
      </div>
      <img
        id="logo-image-empty-homes-tax"
        src="https://dsasf-62612.web.app/empty-homes-tax/title-plaque.png"
        width="100%"
      />
      {{ page.signup.content }}
    </div>
    {% endif %} {% if page.tags_count > 0 %}
    <div id="page-tags" class="page-tags mb-5">
      {% include "page_tags" with page %}
    </div>
    {% endif %}

    <div class="mb-5">
      <a
        href="/forms/shares/new?page_id={{ page.id }}"
        class="get btn btn-light btn-share d-inline-flex justify-content-center align-items-center"
        role="button"
      >
        {% include "svg_icon" name: "share", class: "flex-shrink-0 mr-2",
        size:16 %} Share
      </a>
    </div>

    {% if page.show_stream? %} {% include "page_stream" %} {% endif %}
  </div>

  <div class="col-lg-5 offset-lg-1">
    <div class="rapid-form-wrap">
      <div
        class="form rapid-form mb-5 {% unless request.sorta_logged_in? %}d-lg-block"
        style="display:none{% endunless %}"
      >
        {% form_for signup %} {% if request.sorta_logged_in? %}
        <h2 class="h5 mb-3">
          {% if request.current_signup.has_name? and
          request.current_signup.first_name.size > 0 %}Hi {{
          request.current_signup.first_name }}, t{% else %}T{% endif %}hanks for
          joining!
        </h2>

        {% include "shares_new", email_button: false, text: "Next, share this to
        spread the word!" %} {% if request.logged_in? == false %}
        <p>
          If you're not {{ request.current_signup.name_or_email }},
          <a href="{{ request.current_signup.logout_url }}"
            >click here to signup</a
          >.
        </p>
        {% endif %} {% else %}
        <h2 class="h5 mb-3" id="rapid-modal-title">Join the campaign</h2>

        <div class="form-errors" role="alert" aria-live="assertive">
          {% error_messages_for signup %}
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="signup_first_name">First name</label>
            {% text_field "first_name", class:"form-control" %}
          </div>
          <div class="form-group col-sm">
            <label for="signup_last_name">Last name</label>
            {% text_field "last_name", class:"form-control" %}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm">
            <label for="signup_email">Email</label>
            {% email_field "email", class:"form-control" %}
          </div>
          {% if site.ask_for_mobiles? %}
          <div class="form-group col-sm">
            <label for="signup_mobile_number">Mobile phone</label>
            {% phone_field "mobile_number", class:"form-control" %}
          </div>
          {% endif %}
        </div>

        {% if page.signup.is_phone? %}
        <div class="form-group">
          <label for="signup_phone_number">Phone</label>
          {% phone_field "phone_number", class:"form-control" %}
        </div>
        {% endif %} {% if page.signup.is_address? %} {% if tags_list contains
        "zip_only" %}
        <div class="form-row">
          <div class="form-group col-sm">
            <label for="signup_home_address_zip">Zip code</label>
            {% text_field "home_address.zip", class:"form-control" %}
          </div>
          <div class="form-group col-sm">
            <label for="signup_country_code">Country</label>
            {% capture country_select %}{% select_field "country_code",
            page.signup.countries, "code", "name", class:"form-control
            custom-select" %}{% endcapture %} {{ country_select | replace:
            "signup_country_code", "signup_home_address_country_code" | replace:
            "signup[country_code]",
            "signup[home_address_attributes][country_code]" }}
          </div>
        </div>
        {% else %}
        <div class="form-group">
          <label for="signup_submitted_address"
            >Address <small>(Street, City, State, Postal code)</small></label
          >
          {% text_field "submitted_address", class:"form-control" %}
        </div>
        <div class="form-group">
          <label for="signup_country_code">Country</label>
          {% select_field "country_code", page.signup.countries, "code", "name",
          class:"form-control custom-select" %}
        </div>
        {% endif %} {% endif %} {% if page.signup.has_labeled_tags? %}
        <div class="my-3">
          {% include "labeled_tags" %}
        </div>
        {% endif %}

        <div class="my-3">
          {% if page.show_consent_form? %} {% include "consent_form" %} {% else
          %} {% if tags_list contains "consent_style_opt_in" %}
          <fieldset class="form-group">
            <legend>Would you like to receive email updates?</legend>
            <div class="form-row">
              <div class="col">
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="signup[email_opt_in]"
                    id="signup_email_opt_in_1"
                    value="1"
                    required
                  />
                  <label
                    class="custom-control-label radio d-flex align-items-center"
                    for="signup_email_opt_in_1"
                    >Yes
                    <span class="badge badge-primary ml-2"
                      ><span class="sr-only">(</span>Recommended<span
                        class="sr-only"
                        >)</span
                      ></span
                    ></label
                  >
                </div>
              </div>
              <div class="col">
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="signup[email_opt_in]"
                    id="signup_email_opt_in_0"
                    value="0"
                    required
                  />
                  <label
                    class="custom-control-label radio"
                    for="signup_email_opt_in_0"
                    >No</label
                  >
                </div>
              </div>
            </div>
          </fieldset>
          {% else %}
          <div class="form-group custom-control custom-checkbox">
            {% check_box "email_opt_in", class:"custom-control-input" %}
            <label class="custom-control-label" for="signup_email_opt_in"
              >Send me email updates</label
            >
          </div>
          {% endif %} {% if site.ask_for_mobiles? %} {% if tags_list contains
          "consent_style_opt_in" %}
          <fieldset class="form-group">
            <legend>Would you like to receive text messages?</legend>
            <div class="form-row">
              <div class="col">
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="signup[mobile_opt_in]"
                    id="signup_mobile_opt_in_1"
                    value="1"
                    required
                  />
                  <label
                    class="custom-control-label radio d-flex align-items-center"
                    for="signup_mobile_opt_in_1"
                    >Yes
                    <span class="badge badge-primary ml-2"
                      ><span class="sr-only">(</span>Recommended<span
                        class="sr-only"
                        >)</span
                      ></span
                    ></label
                  >
                </div>
              </div>
              <div class="col">
                <div class="custom-control custom-radio">
                  <input
                    class="custom-control-input"
                    type="radio"
                    name="signup[mobile_opt_in]"
                    id="signup_mobile_opt_in_0"
                    value="0"
                    required
                  />
                  <label
                    class="custom-control-label radio"
                    for="signup_mobile_opt_in_0"
                    >No</label
                  >
                </div>
              </div>
            </div>
          </fieldset>
          {% else %}
          <div class="form-group custom-control custom-checkbox">
            {% check_box "mobile_opt_in", class:"custom-control-input" %}
            <label class="custom-control-label" for="signup_mobile_opt_in"
              >Send me text message updates</label
            >
          </div>
          {% endif %} {% endif %} {% endif %} {% if page.signup.is_volunteers?
          and site.ask_for_volunteers? %}
          <div class="form-group custom-control custom-checkbox">
            {% check_box "is_volunteer", class:"custom-control-input" %}
            <label class="custom-control-label" for="signup_is_volunteer"
              >I want to volunteer</label
            >
          </div>
          {% endif %}
        </div>

        <button
          class="submit-button btn btn-primary btn-block d-flex justify-content-center align-items-center"
          type="submit"
          name="commit"
        >
          {% include "svg_icon" name:"lock", class:"flex-shrink-0", size:"1rem",
          style:"margin-right:.75rem" %} Sign up
        </button>

        <div class="form-submit" role="alert" aria-live="assertive"></div>

        {% if site.ask_to_publish_to_stream? %}
        <div class="form-group custom-control custom-checkbox mt-3">
          {% check_box "activity_is_private", class:"custom-control-input" %}
          <label class="custom-control-label" for="signup_activity_is_private"
            >Don't display my name on the website</label
          >
        </div>
        {% else %}
        <input
          id="signup_activity_is_private"
          name="signup[activity_is_private]"
          type="hidden"
          value="1"
        />
        {% endif %} {% if page.text_keyword_instructions.size > 0 %}
        <div class="form-group py-2">
          {{ page.text_keyword_instructions }}
        </div>
        {% endif %} {% endif %} {% endform_for %} {% unless
        request.sorta_logged_in? %}
        <button
          type="button"
          class="close d-lg-none"
          aria-label="Close"
          data-dismiss="modal"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        {% endunless %}
      </div>
      <!-- /.form -->

      {% unless request.sorta_logged_in? %}
      <div class="action-prompt show d-lg-none">
        <button
          type="button"
          class="btn btn-primary btn-block btn-md"
          data-target=".rapid-form"
        >
          Sign up
        </button>
      </div>
      {% endunless %} {% if page.show_social_slider? and
      page.public_activities_count > 0 %}
      <div class="mb-5 mb-lg-0">
        {% include "social_slider_2" %}
      </div>
      {% endif %}
    </div>
    <div id="desktop-header">
      <nav class="row custom-header">
        <a href="/calendar">Calendar</a>
        <a href="/faq">FAQ</a>
        <a href="/endorsements">Supporters</a>
        <a
          href="https://dsasf-62612.web.app/empty-homes-tax/Casas-Vacias-Hoja-de-Hechos.pdf"
          target="_blank"
          >Hoja de Hechos ➚</a
        >
      </nav>
    </div>
    <a href="https://www.fillemptyhomes.com/donate">
      <img
        id="donate-image-empty-homes-tax"
        src="https://dsasf-62612.web.app/empty-homes-tax/donate-button.png"
        width="100%"
      />
    </a>
  </div>
</div>
{% endcapture %} {% include "content", sidebar: request.is_sidebar? %}
