<style>
  a {
    color: #2B3990;
  }
  h3,
  a:hover {
    color: #9A8ABB !important;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #FFF200;
    border-color: #FFF200;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff;
    background-color: #3e98a1;
    border-color: #3e98a1;
  }

  input.form-control:focus,
  select:focus,
  div.payment-input:focus {
    border-color: #0086ff !important;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:focus {
    color: #fff;
    border-color: #0086ff;
    background-color: #0086ff;
  }

  #logo-image-empty-homes-tax {
    margin-top: 24px;
    margin-bottom: 48px;
    padding-right: 64px;
  }

  #graphic-faq {
    margin: 48px 0 64px 0;
    margin-left: auto:
    margin-right: auto;
  }

  #graphic-faq-p {
    margin-top: -48px;
    margin-left: auto:
    margin-right: auto;
  }

  #intro p {
    font-size: 112%;
    color: #666;
  }

  #logo-image-empty-homes-tax-donate {
    margin-top: 64px;
    margin-bottom: 48px;
    margin-left: auto:
    margin-right: auto;
  }

  .rapid-header::after {
    background: none;
  }

  .my-5 {
    margin-top: 0 !important;
  }

  nav.custom-header {
    position: relative;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }

  nav.custom-header a {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: -3px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  }

  .rapid-header {
    min-height: 240px !important;
  }

  #intro {
    margin: 0 64px 64px 0;
  }

  @media only screen and (max-width: 768px) {

    #logo-image-empty-homes-tax {
      margin-top: 0;
      margin-bottom: 24px;
      padding-right: 0;
    }

    #intro {
      margin: 0 0 64px 0;
    }

    .desktop-only {
      display: none;
    }

    .rapid-header {
      min-height: 140px !important;
    }

    nav.custom-header a {
      font-size: 1rem;
      font-weight: 800;
    }
  }

  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }

  div.question-list {
    display: none;
  }

  footer.rapid-footer p:nth-child(2) {
    margin-bottom: 0;
  }

  footer.rapid-footer p:first-of-type a:first-of-type {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
  }

  footer.rapid-footer p:nth-child(2) a:first-of-type {
    font-size: 1rem;
    color: #0067c2;
    text-decoration: underline;
  }

  footer.rapid-footer nav {
    max-width: 100%;
  }

  footer.rapid-footer nav a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #2B3990;
    letter-spacing: 1px;
    text-decoration: none;
  }

  footer.rapid-footer p {
    font-size: 1rem;
    color: #000000;
  }
</style>

{% capture page_headline %}{{ page.headline }}{% endcapture %} {% capture
page_content %}

<nav class="row custom-header">
  <a href="/join">Unirse a la campaña</a>
  <a href="/calendar">Calendario</a>
  <a href="/endorsements">Partidarios</a>
</nav>

<div class="row">
  <div class="col-md-8 pt-4 pt-md-0">
    <img
      id="logo-image-empty-homes-tax"
      src="https://dsasf-62612.web.app/empty-homes-tax/title-plaque-espanol.png"
      width="100%"
      alt="San Francisco Impuesto para Casas Vacias. La ciudad tiene mas de 40,000 casas vacias. Vamos a llenarlos."
    />
    <div id="intro">
      <h2>
        10% de las casas en San Francisco están vacías. Únase a nuestro
        movimiento y hagamos algo al respecto.
      </h2>
      <p>
        Más de 40,000 casas - casi 1 en 10 - están vacías en San Francisco,
        mientras que 10,000 personas viven en las calles, y muchos otros tienen
        que salir de la ciudad por la subida de los precios en renta. Es hora de
        cambiar eso.
      </p>
      <p>
        Únase a nosotros en nuestro esfuerzo histórico para aprobar un impuesto
        de unidades vacantes en San Francisco para que podamos proporcionar a la
        ciudad 4,500 viviendas nuevas y recaudar aproximadamente $38 millones
        anuales para la prevención de personas sin hogar y viviendas asequibles.
      </p>
      <p>
        Registrese para ser parte de nuestro movimiento para que podamos llenar
        las casas vacías y luchar contra la interminable especulación
        inmobiliaria que está aumentando el costo de vivienda.
      </p>
    </div>

    <img
      id="graphic-faq"
      class="mobile-only"
      src="https://dsasf-62612.web.app/empty-homes-tax/empty-sf-building.jpeg"
      width="100%"
      alt="Fotografía de edificio de desarrollo moderno con varias unidades que no tienen muebles ni artículos de porche"
    />
    <p id="graphic-faq-p" class="mobile-only">
      Un edificio de apartamentos en Mission Bay queda sentada con vacancias
      claramente visibles
    </p>
    <br />
    <br />

    <ul class="list-unstyled mb-4 faq faq-{{ page.id }}">
      {% for child in page.children %}
      <li
        class="{% unless forloop.last == true %}mb-4{% endunless %} page-excerpt question-page-{{ child.id }}"
      >
        {% if child.type_name == 'Question' %}
        <h3>{{ child.headline }}</h3>

        <div class="excerpt">
          {% if child.question.content.size > 0 %} {{ child.question.content }}
          {% endif %} {% if child.question.answer.size > 0 %}
          <div class="card">
            <div class="card-body">
              {{ child.question.answer }}
            </div>
          </div>
          {% endif %}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
    <img
      id="graphic-faq"
      class="desktop-only"
      src="https://dsasf-62612.web.app/empty-homes-tax/empty-sf-building.jpeg"
      width="100%"
      alt="Fotografía de edificio de desarrollo moderno con varias unidades que no tienen muebles ni artículos de porche"
    />
    <p id="graphic-faq-p" class="desktop-only">
      Un edificio de apartamentos en Mission Bay queda sentada con vacancias
      claramente visibles
    </p>
    <img
      id="graphic-faq"
      src="https://dsasf-62612.web.app/empty-homes-tax/table-tax-schedule.png"
      width="100%"
    />
  </div>

  {% if page.tags_count > 0 %}
  <div class="mt-4">
    {% include "page_tags" with page %}
  </div>
  {% endif %} {% if page.show_stream? %}
  <div class="mt-4">
    {% include "page_stream" %}
  </div>
  {% endif %}
</div>

{% endcapture %} {% include "content", sidebar: request.is_sidebar? %}
