<style>
  a {
    color: #2B3990;
  }
  h3,
  a:hover {
    color: #9A8ABB !important;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #FFF200;
    border-color: #FFF200;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff;
    background-color: #3e98a1;
    border-color: #3e98a1;
  }

  strong.text-danger,
  div.nb_donation_v2_interval,
  div.nb_donation_v2_amount {
    display: none;
  }

  input.form-control:focus,
  select:focus,
  div.payment-input:focus {
    border-color: #0086ff !important;
  }

  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:focus {
    color: #fff;
    border-color: #0086ff;
    background-color: #0086ff;
  }

  #logo-image-empty-homes-tax {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    width: 30vw;
  }

  .graphic-faq {
    margin: 1rem auto;
  }

  #graphic-faq-p {
    margin-top: -48px;
    margin-left: auto:
    margin-right: auto;
  }

  #intro p {
    font-size: 112%;
    color: #666;
  }

  #logo-image-empty-homes-tax-donate {
    margin-top: 64px;
    margin-bottom: 48px;
    margin-left: auto:
    margin-right: auto;
  }

  .rapid-header::after {
    background: none;
  }

  .my-5 {
    margin-top: 0 !important;
  }

  nav.custom-header {
    position: relative;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    min-width: 100%;
    z-index: 9999999;
  }

  nav.custom-header a {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: -3px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  }

  .rapid-header {
    min-height: 240px !important;
  }

  #intro {
    margin: 0 64px 64px 0;
  }

  .secondary-content {
    margin-top: 64px;
  }

  @media only screen and (max-width: 768px) {

    #logo-image-empty-homes-tax {
      margin-top: 12px;
      margin-bottom: 6px;
      margin-right: auto;
      margin-left: auto;
      width: 70vw;
    }

    #intro {
      margin: 0 0 64px 0;
    }

    .desktop-only {
      display: none;
    }

    .rapid-header {
      min-height: 140px !important;
    }

    nav.custom-header a {
      font-size: 1rem;
      font-weight: 800;
    }
  }

  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }

  div.question-list {
    display: none;
  }

  footer.rapid-footer p:nth-child(2) {
    margin-bottom: 0;
  }

  footer.rapid-footer p:first-of-type a:first-of-type {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
  }

  footer.rapid-footer p:nth-child(2) a:first-of-type {
    font-size: 1rem;
    color: #0067c2;
    text-decoration: underline;
  }

  footer.rapid-footer nav {
    max-width: 100%;
  }

  footer.rapid-footer nav a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #2B3990;
    letter-spacing: 1px;
    text-decoration: none;
  }

  footer.rapid-footer p {
    font-size: 1rem;
    color: #000000;
  }
</style>

{% capture page_headline %}{{ page.headline }}{% endcapture %} {% capture
page_content %}

<div class="desktop-only">
  <nav class="row custom-header">
    <a href="/join">Join</a>
    <a href="/faq">FAQ</a>
    <a href="/endorsements">Endorsers</a>
    <a href="/vacias">Traducción</a>
  </nav>
</div>
<div class="mobile-only">
  <nav class="row custom-header">
    <a href="/join">Join</a>
    <a href="/faq">FAQ</a>
    <a href="/endorsements">Endorsers</a>
    <a href="/vacias">Traducción</a>
  </nav>
</div>

<img
  id="logo-image-empty-homes-tax"
  src="https://dsasf-62612.web.app/empty-homes-tax/banner-title.png"
  width="100%"
  alt="Fill Empty Homes. YES! on the Vacant Homes Tax"
/>

{% if page.donation_v2.content.size > 0 %} {{ page.donation_v2.content }} {%
endif %} {% if page.donation_v2.has_amount_goal? %}
<div class="mb-3">
  {% include "progress" percent: page.donation_v2.percent_of_amount_goal, count:
  page.donations_count, amount: page.donations_amount_format, goal:
  page.donation_v2.amount_goal_format, label: "raised" %}
</div>
{% elsif page.donation_v2.has_donor_goal? %}
<div class="mb-3">
  {% include "progress" percent: page.donation_v2.percent_of_donor_goal, count:
  page.donations_count, goal: page.donation_v2.donor_goal, label: "donors" %}
</div>
{% endif %} {% form_for donation %}
<div class="form">
  <div class="form-errors" role="alert" aria-live="assertive">
    {% error_messages_for donation %}
  </div>

  {% if page.donation_v2.has_merchant_account? == false %}
  <p class="text-danger">
    <strong>No payment processor:</strong> This page will not work until you add
    a payment processor
  </p>
  {% elsif page.donation_v2.merchant_account.is_test_mode? %}
  <p class="text-danger">
    <strong>Testing mode:</strong> Transactions will not be processed. Use
    <u
      ><a href="https://stripe.com/docs/testing#cards" class="red"
        >testing cards</a
      ></u
    >
    only.
  </p>
  {% endif %} {% if request.current_order %}
  <div class="card my-4">
    <div class="card-body">
      <h3>Your order</h3>
      <ul class="ticket-list">
        {% for item in request.current_order.items %}
        <li>
          {% if item.num_time_periods and item.time_period_type %} {{
          item.quantity }} {{ item.name }} @ {{ item.amount }} - billed
          automatically every {{ item.num_time_periods }}
          {{item.time_period_type }} {% else %} {{ item.quantity }} {{ item.name
          }} @ {{ item.amount }} {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-footer">
      <a class="clear-order" href="{{ page.donation_v2.clear_order_url }}"
        >Clear order</a
      >
    </div>
  </div>
  {% else %}
  <fieldset>
    <legend>1. Amount</legend>
    <div class="form-row">
      {% if page.donation_v2.amount_in_cents != 0 %}
      <div class="form-group col">
        <p class="h2 single-amount mb-0">
          {{ page.donation_v2.amount_formatted }}
        </p>
      </div>
      {% else %}
      <div class="form-group col">
        <div class="donation-v2-amounts">
          {{ page.donation_v2.form_amount_options }}
        </div>
      </div>
      {% endif %}
    </div>
    {% if page.donation_v2.accepts_variable_amounts? or
    page.donation_v2.donation_frequency == "any" %}
    <div
      class="form-row align-items-center donation-v2-options {% if page.donation_v2.accepts_variable_amounts? == false %}single-amount-any-frequency{% endif %}"
    >
      {% if page.donation_v2.accepts_variable_amounts? %}
      <div class="form-group col-md-6">
        {{ page.donation_v2.amount_other }}
      </div>
      {% endif %} {% if page.donation_v2.donation_frequency == "any" %}
      <div
        class="form-group {% if page.donation_v2.accepts_variable_amounts? == true %}col-md-6{%else%}col{% endif %}"
      >
        <div class="donation-v2-occurence-radio radio-inline clearfix">
          {{ page.donation_v2.monthly_recurring_radio_buttons }}
        </div>
      </div>
      {% endif %} {% if page.donation_v2.donation_frequency == "monthly" %}
      <div class="form-group col-md-6 card-monthly">
        <span class="text-secondary">Paid monthly</span>
      </div>
      {% elsif page.donation_v2.donation_frequency == "annual" %}
      <div class="form-group col-md-6 card-monthly">
        <span class="text-secondary">Paid annually</span>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </fieldset>
  {% endif %}

  <hr />

  <fieldset>
    <legend>
      {% if request.current_order %}1{% else %}2{% endif %}. Your information
    </legend>
    <div class="form-group">
      <label for="donation_email">Email</label>
      {% email_field "email", class:"form-control" %}
    </div>
    {% unless page.show_consent_form? %}
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        {% check_box "email_opt_in", class:"custom-control-input" %}
        <label class="custom-control-label" for="donation_email_opt_in"
          >Send email updates</label
        >
      </div>
    </div>
    {% endunless %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="donation_first_name">First Name</label>
        {% text_field "first_name", class:"form-control" %}
      </div>
      <div class="form-group col-md-6">
        <label for="donation_last_name">Last Name</label>
        {% text_field "last_name", class:"form-control" %}
      </div>
    </div>
    <div class="form-group">
      <label for="donation_billing_address_country_code">Country</label>
      {% select_field "billing_address.country_code",
      page.donation_v2.countries, "code", "name", class:"form-control" %}
    </div>
    <div class="form-group">
      <label for="donation_billing_address_address1">Billing Address</label>
      {% text_field "billing_address.address1", class:"form-control" %} {%
      text_field "billing_address.address2", class:"form-control mt-2 text" %}
      {% text_field "billing_address.address3", class:"form-control mt-2 text
      not-us-or-canada hide" %}
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="donation_billing_address_city">City</label>
        {% text_field "billing_address.city", class:"form-control" %}
      </div>
      <div class="form-group col-md-4 us-or-canada us-only hide">
        <label for="donation_state">State</label>
        {% select_field "billing_address.state", page.donation_v2.us_states,
        "code", "name", class:"form-control" %}
      </div>
      <div class="form-group col-md-4 us-or-canada canada-only hide">
        <label for="donation_billing_address_state">State</label>
        {% text_field "billing_address.state", class:"form-control" %}
      </div>
      <div class="form-group col-md-4">
        <label for="donation_billing_address_zip">Postal code</label>
        {% text_field "billing_address.zip", class:"form-control" %}
      </div>
    </div>
    <div class="form-group">
      <label for="donation_billing_address_phone_number">Phone</label>
      {% phone_field "billing_address.phone_number", class:"form-control" %}
    </div>
    {% if page.donation_v2.merchant_account.is_employer_and_occupation_required?
    %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="donation_employer">Employer</label>
        {% text_field "employer", class:"form-control", required:"required" %}
      </div>
      <div class="form-group col-md-6">
        <label for="donation_occupation">Occupation</label>
        {% text_field "occupation", class:"form-control", required:"required" %}
      </div>
    </div>
    {% if page.donation_v2.merchant_account.is_employer_address_required? %}
    <div class="form-group">
      <label for="donation_work_address_country">Employer Country</label>
      {% select_field "work_address.country_code", page.donation_v2.countries,
      "code", "name", class:"select", required:"required" %}
    </div>
    <div class="form-group">
      <label for="donation_work_address_address1">Employer Address</label>
      {% text_field "work_address.address1", class:"form-control",
      required:"required" %} {% text_field "work_address.address2",
      class:"form-control mt-2" %} {% text_field "work_address.address3",
      class:"form-control mt-2 work-not-us-or-canada hide" %}
    </div>
    <div class="form-group">
      <label for="donation_work_address_city">Employer City</label>
      {% text_field "work_address.city", class:"form-control",
      required:"required" %}
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 work-us-or-canada">
        <label for="donation_work_address_state">State</label>
        {% text_field "work_address.state", class:"form-control",
        required:"required" %}
      </div>
      <div class="form-group col-md-6">
        <label for="donation_work_address_zip">Postal code</label>
        {% text_field "work_address.zip", class:"form-control",
        required:"required" %}
      </div>
    </div>
    {% elsif page.donation_v2.merchant_account.is_employer_city_required? %}
    <div class="form-group">
      <label for="donation_work_address_country">Employer Country</label>
      {% select_field "work_address.country_code", page.donation_v2.countries,
      "code", "name", class:"select", required:"required" %}
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="donation_work_address_city">Employer City</label>
        {% text_field "work_address.city", class:"form-control",
        required:"required" %}
      </div>
      <div class="form-group col-md-5 work-us-or-canada hide">
        <label for="donation_work_address_state">State</label>
        {% text_field "work_address.state", class:"form-control",
        required:"required" %}
      </div>
      <div class="form-group col-md-3">
        <label for="donation_work_address_zip">Postal code</label>
        {% text_field "work_address.zip", class:"form-control",
        required:"required" %}
      </div>
    </div>
    {% endif %}
    <div class="form-group">
      <p class="text-secondary">
        Law requires we ask for your employer and occupation. If you don't have
        an employer or are retired, put N/A, and if you are self-employed put
        "self-employed" in employer and describe your occupation.
      </p>
    </div>
    {% endif %} {% if
    page.donation_v2.merchant_account.is_corporate_contribution_required? %}
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        {% check_box "is_corporate_contribution", class:"custom-control-input
        checkbox" %}
        <label
          class="custom-control-label checkbox"
          for="donation_is_corporate_contribution"
          >This is a contribution from a business.</label
        >
      </div>
    </div>
    {% endif %} {% for cf in custom_fields.donation %} {% assign custom_field =
    cf[1] %} {% assign custom_field_id = 'custom_values.' | append:
    custom_field.slug %}

    <div class="form-group">
      {% if custom_field.is_text? %}
      <label for="donation_custom_values_{{ custom_field.slug }}_custom"
        >{{ custom_field.name }}</label
      >
      {% text_field custom_field_id, class:"form-control" %} {% elsif
      custom_field.is_number? %}
      <label for="donation_custom_values_{{ custom_field.slug }}_custom"
        >{{ custom_field.name }}</label
      >
      {% number_field custom_field_id, class:"form-control" %} {% elsif
      custom_field.is_boolean? %}
      <div class="custom-control custom-checkbox">
        {% check_box custom_field_id, class:"custom-control-input checkbox" %}
        <label
          class="custom-control-label checkbox"
          for="donation_custom_values_{{ custom_field.slug }}_custom"
          >{{ custom_field.name }}</label
        >
      </div>
      {% elsif custom_field.is_multiple_choice? %}
      <label for="donation_custom_values_{{ custom_field.slug }}_custom"
        >{{ custom_field.name }}</label
      >
      {% select_field custom_field_id,
      custom_fields.donation[custom_field.slug].multiple_choice_options,
      class:"select" %} {% endif %}
    </div>
    {% endfor %}

    <div class="form-group">
      <span class="text-secondary">
        {% if page.donation_v2.merchant_account.is_taxable? %} Contributions are
        <i>not</i> tax deductible. {% else %} Contributions are tax deductible.
        {% endif %}
      </span>
    </div>
  </fieldset>

  <hr />

  <fieldset>
    <legend>
      {% if request.current_order %}2{% else %}3{% endif %}. Payment information
    </legend>

    <div class="form-group">
      <label>Credit Card</label>
      {% payment_field 'card' %}
    </div>

    <div clas="form-group">
      {% if page.donation_v2.merchant_account.has_contribution_rules? %}
      <label for="is_confirmation_text"
        ><strong>Contribution rules</strong></label
      >
      {{ page.donation_v2.merchant_account.contribution_rules }}
      <div class="custom-control custom-checkbox">
        {% check_box "is_confirmed", class:"custom-control-input checkbox" %}
        <label for="donation_is_confirmed" class="custom-control-label checkbox"
          >I confirm that the above statements are true and accurate.</label
        >
      </div>
      {% endif %} {% if site.ask_to_publish_to_stream? %}
      <div class="custom-control custom-checkbox">
        {% check_box "is_private", class:"custom-control-input checkbox" %}
        <label for="donation_is_private" class="custom-control-label checkbox"
          >Don't publish my donation on the website.</label
        >
      </div>
      {% endif %}
    </div>

    {% if page.show_consent_form? %}
    <hr />
    {% include "consent_form" %} {% endif %}
    <hr />
    <div class="form-group">
      <div class="submit-container">
        <div
          class="donation-v2-amount d-flex align-items-center my-4 text-success"
        >
          {% if request.current_order %}
          <span class="h2 mb-0 mr-1"
            >{{ page.donation_v2.ticket_purchase_total }}</span
          >
          {% else %} {% if page.donation_v2.confirmation_amount %}
          <span class="pt-1 align-self-start"
            >{{ page.donation_v2.currency_symbol }}</span
          >
          <span class="nb_donation_v2_amount h2 mb-0 mr-1"
            >{{ page.donation_v2.confirmation_amount }}</span
          >
          {% else %}
          <span class="hidden hide pt-1 align-self-start"
            >{{ page.donation_v2.currency_symbol }}</span
          >
          <span class="nb_donation_v2_amount h2 mb-0 mr-1"
            ><strong class="h6 text-danger"
              >Total will show here after an amount has been selected</strong
            ></span
          >
          {% endif %} {% if page.donation_v2.donation_frequency == "one-time" %}
          {% elsif page.donation_v2.donation_frequency == "monthly" %}
          <div
            class="text-muted nb_donation_v2_interval pt-1"
            data-placeholder="paid monthly"
          >
            paid monthly
          </div>
          {% elsif page.donation_v2.donation_frequency == "annual" %}
          <div
            class="text-muted nb_donation_v2_interval pt-1"
            data-placeholder="paid annually"
          >
            paid annually
          </div>
          {% else %}
          <div
            class="text-muted nb_donation_v2_interval pt-1"
            data-placeholder="paid monthly"
          >
            {% if page.donation_v2.interval_monthly? %}paid monthly{% endif %}
          </div>
          {% endif %} {% endif %}
        </div>
        <div class="mt-4">
          {% if request.current_order %} {% submit_tag "Process payment",
          class:"btn btn-primary btn-lg submit-button" %} {% else %} {%
          submit_tag "Donate now", class:"btn btn-primary btn-lg submit-button"
          %} {% endif %}
        </div>
      </div>
      <div class="form-submit" role="alert" aria-live="assertive"></div>
    </div>
  </fieldset>
</div>
<!--/.form -->

{% endform_for %}

<script>
  NB.payments.elementOptions = {
    style: {
      base: {
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSize: "16px",
      },
    },
  };
</script>

<script src="/assets/liquid/theme_donation_v2.js"></script>
{% endcapture %} {% include "content", sidebar: request.is_sidebar?, col_class:
"col-lg-9 mx-auto" %}
